*{
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2ebbf;
}
/*Stylling for banner img*/
.MMbanner {
  width: 100%;
  height: auto;
}
/*Stylling for burgermenu-icon*/
.MMheader {
  position: absolute;
  top: 0;
  right: 0;
  clear: both;
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
/*Styling for side navigation menu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #736551;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
/*Styling for side navigation menu links*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
/*This show what side you are on in the nav bar*/
.sidenav a.active {
  background-color: #f3b562;
  color: white;
}
/*When you mouse over the navigation links, they change their color*/
.sidenav a:hover {
  color: #DAECF3;
  background-color: #f3b562;
}
/*Position and styling for the close button (top right corner)*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}
/* stylling for socail media icons box*/
.socialicon a {
  padding: 8px 8px 8px 32px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}
/*stylling for socail media icons*/
.socialicon img {
  width: 50px;
  height: auto;
}
/*Stylling for kontakt info*/
.kontakt {
  position: absolute;
  width: 100%;
  display: block;
  background-color: #f3b562;
  bottom: 0;
  text-align: center;
}
/*Stylling for right side content*/
.MMmain_content {
  display: block;
  float: left;
  width: 47%;
  padding: 5px;
  background-color: #f3b562;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
}
/*Stylling for left side content*/
.MMsecound_content {
  display: block;
  float: right;
  width: 47%;
  padding: 5px;
  background-color: #f3b562;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 2%;
}
/*Stylling for main content img*/
.MMmain_content img, .MMsecound_content img {
  width: 100%;
  height: auto;
}
/*Styling for desktop*/
@media screen and (min-width: 600px) {
  /*Stylling for burgermenu-icon*/
  .MMheader {
    position: absolute;
    top: 0;
    width: 100%;
    clear: both;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }
  /*Styling for side navigation menu*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #736551;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  /*Styling for side navigation menu links*/
  .sidenav a {
    padding: 8px 8px 8px 32px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  /*This show what side you are on in the nav bar*/
  .sidenav a.active {
    background-color: #f3b562;
    color: white;
  }
  /*When you mouse over the navigation links, they change their color*/
  .sidenav a:hover {
    color: #DAECF3;
    background-color: #f3b562;
  }
  /*Position and styling for the close button (top right corner)*/
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  /* stylling for socail media icons box*/
  .socialicon a {
    padding: 8px 8px 8px 32px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  /*stylling for socail media icons*/
  .socialicon img {
    width: 50px;
    height: auto;
  }
  /*Stylling for kontakt info*/
  .kontakt {
    position: absolute;
    width: 100%;
    display: block;
    background-color: #f3b562;
    bottom: 0;
    text-align: center;
  }
  /*Stylling for right side content*/
  .MMmain_content {
    display: block;
    float: left;
    width: 47%;
    padding: 5px;
    background-color: #f3b562;
    margin-top: 2%;
    margin-left: 2%;
  }
  /*Stylling for left side content*/
  .MMsecound_content {
    display: block;
    float: right;
    width: 47%;
    padding: 5px;
    background-color: #f3b562;
    margin-top: 2%;
    margin-right: 2%;
  }
  /*Stylling for main content img*/
  .MMmain_content img, .MMsecound_content img {
    width: 100%;
    height: auto;
  }
}
/* Dette er bredden for det likke banner */
.POBanner {
  width: 100%;
  height: auto;
}
/* Dette er for at gemme det store banner på
  mobil version */
.POBanner1 {
  display: none;
}
/* Dette er for at formatere teksten */
.POtekst {
  background-color: #F3B562;
  width: 45%;
  float: left;
  margin-top: 5%;
  margin-left: 3%;
}
/* Dette er for at gemme min ekstra tekst */
.POhide {
  visibility: hidden;
}
/* Dette er formatteringen af mit tropiske frugter
  billede */
.PObali {
  width: 45%;
  float: right;
  margin-top: 5%;
  margin-right: 3%;
}
/* dette skaber et breakpoint i stylingen ved 600px eller
   over i bredden */
@media screen and (min-width: 600px) {

  .POBanner {
    display: none;
  }

  .POBanner1 {

    display: block;
    width: 100%;
    height: auto;
  }

  .POhide {
    visibility: visible;
  }
}
img {
  width: 100%;
  height: auto;
}

.LAProdukt{
  float: left;
  background-color: #F3B562;
  width: 45%;
  padding: 1%;
  margin-left: 2%;
}
aside {
  float: right;
  width: 45%;
  background-color: #F3B562;
  padding: 1%;
  margin-right: 2%;
}
.LAezpzlemon{
display: none;
}
@media screen and (min-width: 600px) {
.LAsmoothielemonslice2{
display: none;
}
.LAezpzlemon {display: block;
}
}

/* This is the banner at the top of the screen*/
.RABanner {
  width: 100%;
  height: auto;
}
/*This is the second banner, that shows on a larger screen size*/
.RAsmoothie {
  display: none;
}
/*This is the paragraph to te left*/
.RAtekst {
  background-color: #f3b562;
  width: 40%;
  float: left;
  margin-left: 20px;
  margin-top: 5%;
  padding: 5px;
  line-height: 21px;
}
/*This is the name of the smoothie*/
.RAtekst h3 {
  margin-bottom: 8px;
}
/*This is the picture at the bottom of the page*/
.RAtekst img {
  width: 100%;
  height: auto;
}
  /*This is the paragraph to the right*/
.RAtekst2 {
  background-color: #f3b562;
  width: 40%;
  float: right;
  margin-right: 20px;
  margin-top: 5%;
  padding: 5px;
  line-height: 21px;
}
/*This is the picture over the second paragraph*/
.RAtekst2 img {
  width: 100%;
  height: auto;
  }

/*This part changes the site, when it is put on a screen whose screen is minimum 600px*/
@media screen and (min-width: 600px) {

  .RABanner {
    display: none;
  }
  .RAsmoothie {
    display: block;
    width: 100%;
    height: auto;
  }
  .RAtekst{
    width: 50%;
    height: auto;
    padding: 5px;
    line-height: 25px;
  }
  .RAtekst2{
    width: 100%;
    height:auto;
    line-height: 25px;
  }
  .RAtekst img {
    width: 100%;
    height: auto;
  }
}
